{% extends 'reviews/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

    <ul style="list-style: none;">
            {% for el in article %}
        <li>
                <div class="" style="float: left; display: flex; margin: 5px; flex-direction: column; width: 20%; height:;">
                    <div class="row-cols-1">
                            <div class="col">
                              <div class="card shadow-lg">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                                <div class="card-body">
                                  <p class="card-text">{{ el.title }}</p>
                                  <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                  </div>
                                </div>
                              </div>
                            </div>
                    </div>
                </div>
        </li>
            {% endfor %}
    </ul>

{% endblock %}